# Laravel
/vendor
/node_modules
.env
.env.*
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml

# Laravel build outputs
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/*
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*

# IDEs y editores
/.idea
/.vscode
/.fleet
/.zed
/.nova
.phpactor.json

# Logs y errores
npm-debug.log
yarn-error.log

# Otros
/auth.json
