.dark-mode input:-webkit-autofill,
.dark-mode input:-webkit-autofill:hover,
.dark-mode input:-webkit-autofill:focus,
.dark-mode textarea:-webkit-autofill,
.dark-mode textarea:-webkit-autofill:hover,
.dark-mode textarea:-webkit-autofill:focus,
.dark-mode select:-webkit-autofill,
.dark-mode select:-webkit-autofill:hover,
.dark-mode select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0 1000px #343a40 inset;
  transition: background-color 5000s ease-in-out 0s;
}

 .login-box,
.register-box {
    max-width: 500px; /* más ancho que el default (360px aprox.) */
    width: 100%;
    padding: 20px;
    margin: auto;
}

@media (max-width: 576px) {
    .login-box,
    .register-box {
        max-width: 90%;
        padding: 10px;
    }
}
