.viator-credit a {
    color: #256D1B;
    font-weight: 500;
    text-decoration: underline;
}

.viator-credit a:hover {
    color: #60A862;
}
.review-stars {
    color: #ffc107; /* amarillo tipo Bootstrap */
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
}


.review-stars .rating-number {
    font-size: 0.9rem;
    color: #555;
    margin-left: 0.4rem;
}
